{% extends 'base.html' %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('http://www.signaturechat.com/static/clean/img/about-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Signature Chat</h1>
              <span class="subheading"><a href="/" style="color: #ffffff"><u>Home</u></a> / About</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <p>This site was conceived in July 2017.  It is a simple chat app that allows for user drawn content.  The brush size and color also randomly changes after each post you make.</p>
        <p>To create a room simply enter your name and (optionally) a room name.  That room will exist for 24 hours and can be accessed by anyone with the room code.</p>
       <p>To chat you can either enter in text at the bottom of your screen or draw something.  Everyone can see what's posted and everyone can see the users.</p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; <a href="mailto:corbe054@umn.edu">Marty Corbett</a> 2017</p>
          </div>
        </div>
      </div>

{% endblock %}
