<head>
  <meta charset="utf-8">
  <title>Signature Pad demo</title>
  <meta name="description" content="Signature Pad - HTML5 canvas based smooth signature drawing using variable width spline interpolation.">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "css/signature-pad.css" %}" />
</head>
  <input id="id_hidden_image" type="hidden" name="signatureHolder" value="0">
  <div id="signature-pad" class="m-signature-pad" style="visibility: hidden;">
    <div class="m-signature-pad--body">
      <canvas></canvas>
    </div>
    <div class="m-signature-pad--footer">
      <div class="description">Sign above</div>
      <div class="left">
        <button id="back" type="button" class="button clear" data-action="back">Back</button>
      </div>
      <div class="center">
        <button type="button" class="button clear" data-action="clear">Clear</button>
      </div>
      <div class="right">
        <button id="post_drawing" type="button" class="button save" data-action="save">Enter</button>
      </div>
    </div>
  </div>

  {% load static %}

  <script src="{% static "js/signature-pad.js" %}" type="text/javascript"></script>
  <script src="{% static "js/signature-app.js" %}" type="text/javascript"></script>
