{% extends 'base.html' %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://www.signaturechat.com/static/clean/img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Signature Chat</h1>
              <span class="subheading">Create your chat room below</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <p>So far, {{ total }} rooms have been created.  Current rooms will be up for {{ total_hours }} hours.</p><br>

        <h4>Have a room code?  Enter it here.</h4>
        {% if error_message %}
        <p><font color="red">{{ error_message }}</font></p>
        {% endif %}
        <form action="/join/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_code">Room Code:</label>
            <input type="text" class="form-control" id="id_code" required placeholder="Enter Room Code" name="code" minlength="4" maxlength="4">
          </div>
          <button type="submit" class="btn btn-primary">Join</button>
        </form><br><br>
        
        <h4>Enter in your name and we'll create a room for you for 24 hours.</h4>
        <form action="/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_username">Username:</label>
            <input type="text" class="form-control" id="id_username" required placeholder="Enter Username" name="username" minlength="1" maxlength="50">
          </div>
          <div class="form-group">
            <label for="id_room_name">Room Name:</label>
            <input type="text" class="form-control" id="id_room_name" placeholder="(Optional) Room Name" name="room_name" minlength="1" maxlength="50">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; <a href="mailto:corbe054@umn.edu">Marty Corbett</a> 2018  <a href="/about/">About</a></p>
          </div>
        </div>
      </div>

{% endblock %}
