{% extends 'base.html' %}

{% block content %}

<h1>Index</h1>

So far, {{ total }} rooms have been created.  They've been up for {{ total_hours }} hours.<br>

<br>Have a room code?  Enter it here.

    <form action="/join/" method="POST">
        {% csrf_token %}
        {{ code_form }}
        <input type="submit" value="Join"/>
    </form>

<br>Enter in your name and we'll create a room for you for 24 hours.<br>

    <form action="/" method="POST">
        {% csrf_token %}
        {{ room_form }}
        <input type="submit" value="Create"/>
    </form>

    <ul>
        <li><a href="/about/">About</a></li>
    </ul>

{% endblock %}
