{% extends 'base.html' %}

{% block content %}

<div>
    Room Name:&nbsp;&nbsp;<b>{{ room.name }}</b><br>
    Room Code:&nbsp;&nbsp;&nbsp;<b>{{ room.code }}</b><br>
    ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ room.id }}</b><br>
    User Name:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ name }}</b><br>

    <br>
    <h2>Users:</h2>

    <ol>
    {% for user in room.guests.all %}
        <li>{{ user.user }}</li>
    {% endfor %}
    </ol>
</div>

<div style="position:fixed;bottom:0">
    <input id="chat_input" type="text" class="content-post">
    <button id="chat_button" class="post-button">Enter</button>
</div>

    <div id="posts" style="overflow-y:scroll;height:500px">
        {% for text in room.chat.all %}
            <div class="post" data-post-id="{{ text.id }}">
                <h3>{{ text.message }}</h3>
                {{ text.name}} - {{ text.time|date:"D d M g:i A" }}
            </div>
        {% endfor %}
    </div>

    <script>
        $(function () {
            var ws_path =  window.location.pathname + "stream/";
            console.log("Connecting to " + ws_path);
            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);
            webSocketBridge.listen(function(data) {
                console.log("Got message " + data);
                // Create the inner content of the post div
                var content = "<h3>" + data.message + "</h3>" + data.name + " - " + data.time;
                console.log("content is created" + data.id + "\n" + data.message);
                // See if there's a div to replace it in, or if we should add a new one
                var existing = $("div[data-post-id=" + data.id + "]");
                if (existing.length) {
                    existing.html(content);
                    console.log("if");
                } else {
                    var newdiv = $("<div class='post' data-post-id='" + data.id + "'>" + content + "</div>");
                    $("#posts").append(newdiv);
                    updateScroll();
                    console.log("else");
                }
            });
            console.log("Appended");

            // save blog post
            $(".post-button").click(function(){
                if($(".content-post").val() == "")
                {
                    alert("Empty text");
                }
                else
                {
                    var content = $(".content-post").val()
                    webSocketBridge.send({"post":content, "name":"{{ name }}"});
                    $(".content-post").val('');
                }
            });

            $("#chat_input").keyup(function(event){
                if(event.keyCode == 13){
                    $("#chat_button").click();
                }
            });

            function updateScroll() {
               var element = document.getElementById("posts");
               element.scrollTop = element.scrollHeight;
            }
            // Helpful debugging
            webSocketBridge.socket.addEventListener('open', function() { console.log("Connected to notification socket"); });
            webSocketBridge.socket.addEventListener('close', function() { console.log("Disconnected to notification socket"); });
        });
    </script>

{% endblock %}
