{% extends 'base.html' %}

{% block content %}

<div style="position:fixed;top:0">
    Room Name:&nbsp;&nbsp;<b>{{ room.name }}</b><br>
    Room Code:&nbsp;&nbsp;&nbsp;<b>{{ room.code }}</b><br>
    ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ room.id }}</b><br>
    User Name:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ name }}</b><br>
</div>
<br><br><br><br>
<h2>Users:</h2>

<ol>
    <li><b>{{ room.admin }}</b></li>
{% for user in room.guests.all %}
    <li>{{ user.user }}</li>
{% endfor %}
</ol>

<button class="post-button">POST</button>
<textarea class="content-post"></textarea>
<hr>

    <div id="posts">
        {% for text in room.chat.all %}
            <div class="post" data-post-id="{{ text.id }}">
                <h3>{{ text.name}} - {{ text.time|date:"D d M g:i A" }}</h2>
                {{ text.message }}i
            </div>
        {% endfor %}
    </div>

<br><table>
    <tr>
        <th>Message</th>
        <th>User</th>
        <th>Date</th>
    </tr>
        {% for text in room.chat.all %}
    <tr>
        <td>{{ text.message }}</td>
        <td>{{ text.name }}</td>
        <td>{{ text.time|date:"j/m g:i A" }}</td>
    </tr>
        {% endfor %}
</table>

    <form action="chat/" method="POST" style="position:fixed;bottom:0">
        {% csrf_token %}
        {{ chat_form }}
        <input type="submit" value="Enter"/>
    </form>

    <script>
        $(function () {
            var ws_path =  window.location.pathname + "stream/";
            console.log("Connecting to " + ws_path);
            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);
            webSocketBridge.listen(function(data) {
                console.log("Got message " + data);
                // Create the inner content of the post div
                var content = "<h3>" + data.name + " - " + data.time + "</h3>" + data.message;
                console.log("content is created" + data.id + "\n" + data.message);
                // See if there's a div to replace it in, or if we should add a new one
                var existing = $("div[data-post-id=" + data.id + "]");
                if (existing.length) {
                    existing.html(content);
                    console.log("if");
                } else {
                    var newdiv = $("<div class='post' data-post-id='" + data.id + "'>" + content + "</div>");
                    $("#posts").prepend(newdiv);
                    console.log("else");
                }
            });
            console.log("Prepended");

            // save blog post
            $(".post-button").click(function(){
                if($(".content-post").val() == "")
                {
                    alert("Empty text");
                }
                else
                {
                    var content = $(".content-post").val()
                    webSocketBridge.send({"post":content});
                    $(".content-post").val('');
                }
            });


            // Helpful debugging
            webSocketBridge.socket.addEventListener('open', function() { console.log("Connected to notification socket"); });
            webSocketBridge.socket.addEventListener('close', function() { console.log("Disconnected to notification socket"); });
        });
    </script>

{% endblock %}
