{% extends 'base.html' %}

{% block content %}

<div style="position:fixed;top:0">
    Room Name:&nbsp;&nbsp;<b>{{ room.name }}</b><br>
    Room Code:&nbsp;&nbsp;&nbsp;<b>{{ room.code }}</b><br>
    ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ room.id }}</b><br>
    User Name:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ name }}</b><br>
</div>
<br><br><br><br>
<h2>Users:</h2>

<ol>
    <li><b>{{ room.admin }}</b></li>
{% for user in room.guests.all %}
    <li>{{ user.user }}</li>
{% endfor %}
</ol>

<br><table>
    <tr>
        <th>Message</th>
        <th>User</th>
        <th>Date</th>
    </tr>
        {% for text in room.chat.all %}
    <tr>
        <td>{{ text.message }}</td>
        <td>{{ text.name }}</td>
        <td>{{ text.time|date:"j/m g:i A" }}</td>
    </tr>
        {% endfor %}
</table>

    <form action="chat/" method="POST" style="position:fixed;bottom:0">
        {% csrf_token %}
        {{ chat_form }}
        <input type="submit" value="Enter"/>
    </form>

<script>
    $(function () {
        var ws_path =  window.location.pathname + "stream/";
        console.log("Connecting to " + ws_path);
        var webSocketBridge = new channels.WebSocketBridge();
        webSocketBridge.connect(ws_path);

        // Helpful debugging
        webSocketBridge.socket.onopen = function() { console.log("Connected to notification socket"); }
        webSocketBridge.socket.onclose = function() { console.log("Disconnected to notification socket"); }
    });
</script>

{% endblock %}
